
  
  .breath-delay-container{
    width: 100%;
  height: 100%;
  background-image: url('../../../../../assets/breathe.JPG');
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: center; */
  /* padding-bottom:140px */
  }
  .breath-delay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(185, 64%, 51%, 1);
    background: linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
    background: -moz-linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
    background: -webkit-linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#30C5D2", endColorstr="#471069", GradientType=1 );
    z-index: 1;
  }
  .breath-delay-container.desktop{
    height:  100%
  }
  .delay-breathe{
    position: relative;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards 7s;
  }
  .delay-loading{
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(64, 108, 116);
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards; 
  }
 