.modal-overlay {
  max-width: 300px;
  width: 80%;
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    border-radius: 8px;
    opacity: 0;
  animation: fadeIn 0.5s forwards;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
  }
  .modal-content .modal-text{
    color: #196672;
  }
  
  .modal-overlay.dark .modal-content,
  .modal-overlay.dark .modal-text{
    background-color: #282D35;
    color:#4e919c ;
  }
  .modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  

.modal-button {
  color: #fff;
  padding: 15px 25px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.modal-button:hover {
  transform: scale(1.1); 
}

