.slider-gallery-container{
  width: 100%;
  background-color: white;
  opacity: 0;
  animation: fadeIn 1s forwards;
 }

.slider-gallery-container.dark{
  background-color: #282D35;
}

.slider-gallery-container.desktop {
  max-height: 100%;
  padding-top: 10px;
  
} 
.slider-gallery-wrapper {
  position: relative;
  width: 90%;
  margin: 2em auto;
  overflow: hidden; 
  border-radius: 15px;
  aspect-ratio: 21 / 9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.slider-gallery-container.desktop .slider-gallery-wrapper {
  width: 250px;
  margin: 0;
  padding: 20px;
}
.slider-gallery-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: hsla(185, 64%, 51%, 1);
  background: linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
  background: -moz-linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
  background: -webkit-linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#30C5D2", endColorstr="#471069", GradientType=1);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 1;
}
.slider-gallery-container.desktop .slider-grid {
  max-width: 500px; 
  margin: 0 auto; 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto; 
  gap: 20px;
  padding-bottom: 40px;
}
  
.slider-gallery-container.desktop .slider-gallery-item:nth-child(1) {
  grid-column: 1 / 2; 
  grid-row: 1 / 2; 
}

.slider-gallery-container.desktop .slider-gallery-item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center; 
}

.slider-gallery-container.desktop .slider-gallery-item:nth-child(3) {
  grid-column: 1 / 2; 
  grid-row: 2 / 3; 
}

.slider-gallery-container.desktop .slider-gallery-item:nth-child(4) {
  grid-column: 2 / 3; 
  grid-row: 2 / 3; 
}

.slider-gallery-container.desktop .slider-gallery-item:nth-child(5) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.icon-info{
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 4;
  top: 20px;
  left:20px ;
  cursor: pointer;
  color: white;
  background-color: rgb(207, 134, 215,0.2);
  
}
.slider-gallery-container.desktop .icon-info{
  width: 20px;
  height: 20px;
}
.icon-play{
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 4;
  bottom:15px;
  right: 20px;
  cursor: pointer;
  color: white;
}
.slider-gallery-container.desktop .icon-play{
  width: 15px;
  height: 15px;
}
.slider-gallery-wrapper img {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: block;
  object-fit: cover; 
  object-position: center;
}


.slider-gallery-wrapper h2 {
  font-size: 1.3rem;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 15px;
  z-index: 2;
  text-align: center;
  text-shadow: 0 1px 5px rgb(72, 16, 78);
 
}
.slider-gallery-container.desktop .slider-gallery-wrapper h2 {
  font-size: 1rem;
}

.slider-gallery-container.dark .slider-gallery-wrapper{
  box-shadow: 0 4px 8px rgba(165, 128, 157, 0.2);
}
.modal-content {
  position: sticky;
  z-index: 10;
  bottom: 200px;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 1px;
  text-decoration: none;
  padding-block: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.95;
}

.close{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 50%;
  background-color: rgb(197, 134, 229,0.3);
  padding: 5px;
}
.slider-gallery-container.dark .modal-content{
  background-color: #171f1d;
  opacity: 0.95;
}

.slider-gallery-container.desktop .modal-content{
  width: 400px;
  height: 200px;
  font-size:1.2rem;
  position: absolute;
  top: 50%;
   left: 50%;
  transform: translate(-50%,-50%);
}
.slider-gallery-container.dark .slider-gallery-wrapper p,
.slider-gallery-container.dark .modal-content h2,
.slider-gallery-container.dark .modal-content span,
.slider-gallery-container.dark .modal-content p{
  color: #bbb8c4;
}
.slider-gallery-container.dark .modal-content .close{
  background-color: #bbb8c4;
}
.modal-content h2{
  padding: 1rem auto 1rem;
  color: rgb(127, 50, 127);
}
.modal-content span{
  color: rgb(127, 50, 127);
  font-size: 1rem;
}
.modal-content p{
  padding: 1rem;
  text-align: justify;
  color: rgb(127, 50, 127);
}

a{
  text-decoration: none;
  color: rgb(127, 50, 127);
  text-shadow: 1px 1px 2px rgba(72, 9, 70, 0.1);
}


@media (max-width: 768px){
  .modal-content{
    bottom: 50%;
    
  }
}
